#main-header {
	background: url('./../images/log.png') center/auto 80% no-repeat,
	url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/bg.png') center/auto 50% no-repeat;
}

.numberCircle {
	border-radius: 50%;
    behavior: url(PIE.htc);
    width: 36px;
    height: 36px;
    padding: 8px;
    background: yellow;
    /* border: 2px solid #666; */
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
    padding: 0 !important;
    margin: auto;
    margin-top: 10px;
    color: red;
  }

.ps-header-title{
	line-height: 1.1 !important;
}

.usageImg{
	max-width: 100%;
}

a {
	color: white !important;
}

@media (max-width:600px){
.small-sm{
	font-size: 14px
}
}

.firstsvg::before{
    background-image: url('./../images/1svg.png');
    content: '';
	color: #707070;
	display: inline-block;
    height: 20px;
    width: 20px;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.secondsvg::before{
    background-image: url('./../images/2svg.jpg');
    content: '';
	color: #707070;
	display: inline-block;
    height: 20px;
    width: 20px;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.thirdsvg::before{
    background-image: url('./../images/3svg.png');
    content: '';
	color: #707070;
	display: inline-block;
    height: 20px;
    width: 20px;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.fourthsvg::before{
    background-image: url('./../images/4svg.png');
    content: '';
	color: #707070;
	display: inline-block;
    height: 20px;
    width: 20px;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.fifthsvg::before{
    background-image: url('./../images/5svg.png');
    content: '';
	color: #707070;
	display: inline-block;
    height: 20px;
    width: 20px;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.sixthsvg::before{
    background-image: url('./../images/6svg.png');
    content: '';
	color: #707070;
	display: inline-block;
    height: 20px;
    width: 20px;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

li.list-icon-feature-belly::before {
	background-image: url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/icon_feature_belly.svg');
}

.mh-list li.list-icon-feature-apple::before {
	background-image: url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/icon_feature_apple.svg');
}

.mh-list li.list-icon-feature-man::before {
	background-image: url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/icon_feature_man.svg');
}

.mh-list li.list-icon-feature-pill-bottle::before {
	background-image: url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/icon_feature_pill_bottle.svg');
}

.mh-list li.list-icon-feature-face-hands::before {
	background-image: url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/icon_feature_face_hands.svg');
}

#panel-bg-bonding {
	background-image: url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/panel_bg_bonding.jpg');
}

#panel-proven-results {
	background: linear-gradient(rgba(79, 124, 123, 0.8), rgba(94, 191, 187, 0.8)),
	url('../images/اثبت\ جدارته.jpeg') center/auto 150% no-repeat;
}

#panel-no-strict-dieting {
	background: linear-gradient(rgba(38, 94, 133, 0.8), rgba(81, 107, 126, 0.8)),
	url('../images/ترك\ الحمية\ الغذائية\ 3.jpg') center/auto 150% no-repeat;
}

#panel-easy-to-use {
	background: linear-gradient(rgba(38, 94, 133, 0.8), rgba(38, 94, 133, 0.8)),
	url('../images/سهولة\ الاستخدام.jpg') center/auto 150% no-repeat;
}

#panel-keto-for-you {
	background: linear-gradient(rgba(94, 191, 187, 0.8), rgba(94, 191, 187, 0.8)),
	url('../images/الحيوية\ والتفاءل.png') center/auto 150% no-repeat;
}

#panel-bg-confident {
	background-image: url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/panel_bg_confident.jpg');
}

#panel-bg-be-active {
	background-image: url('../images/احصل\ عليه\ بسعر.jpg');
}

#panel-what-is-bhb {
	background: url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/panel_why_is_bhb_bg.jpg') no-repeat;
	background-size: cover;
}

#panel-bg-be-happy {
	background-image: url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/panel_bg_happy.jpg');
}

#panel-about-us {
	background: linear-gradient(rgba(38, 94, 133, 0.7), rgba(38, 94, 133, 0.7)),
	url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/panel_bg_about_us.jpg') center/auto 150% no-repeat;
}

.vitangel-bg {
	background-image: url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/vita_angels.jpg');
}

@media (min-width: 576px) and (max-width: 767px) {
	#main-header {
		background: url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/bg.png') center/auto 50% no-repeat;

	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	#main-header {
		background: url('./../images/log.png') center/auto 74% no-repeat,
		url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/bg.png') center/auto 50% no-repeat;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#main-header {
		background: url('./../images/log.png') center/auto 77% no-repeat,
		url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/bg.png') center/auto 50% no-repeat;
	}
}


@media (min-width: 576px) and (max-width: 767px) {
	#main-header .mh-part-1:before {
		background-image: url('./../images/log.png');
	}
}

@media (max-width: 575px) {
	#main-header {
		background: url('./../images/log.png') -122px 260px/auto 42% no-repeat,
		url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/bg.png') center/auto 50% no-repeat;
	}
}

@media (max-width: 444px) {
	#main-header {
		background: url('./../images/log.png') -98px 244px/auto 36% no-repeat,
		url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/bg.png') center/auto 50% no-repeat;
	}
}

@media (max-width: 413px) {
	#main-header {
		background: url('./../images/log.png') -60px 200px/auto 34% no-repeat,
		url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/bg.png') center/auto 50% no-repeat;
	}

	#page-nav + * {
		margin-top: 10px !important;
	    }
}

@media (max-width: 374px) {
	#main-header {
		background: url('./../images/log.png') -98px 200px/auto 39% no-repeat,
		url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/bg.png') center/auto 50% no-repeat;
	}
}

@media (max-width: 360px) {
	#main-header {
		background: url('./../images/log.png') -94px 200px/auto 36% no-repeat,
		url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/bg.png') center/auto 50% no-repeat;
	}
}

@media (max-width: 340px) {
	#main-header {
		background: url('./../images/log.png') -82px 200px/auto 33% no-repeat,
		url('https://d3ok9e5g4qczz5.cloudfront.net/assets/img/page/lander/bg.png') center/auto 50% no-repeat;
	}
}

.get-sec {
	padding: 0 0 35px 0;
}

.get-sec .counter-red {
	margin: 30px auto 20px auto;
	padding: 12px 0 15px 0;
	/* width: 355px; */
	/* background-color: #17a2b8; */
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	/* background: #fdf7a8; */
	text-align: center;
}

.get-sec .counter-red p {
	margin: 0 0 14px 0;
	font-weight: 500;
	font-size: 24px;
	color: #fff;
}

.get-sec .timer {
	margin: 0 auto;
	width: 360px;
}

/* .get-sec .timer .counter-under { */
	/* float: left; */
	/* width: 100px; */
/* } */

/* .get-sec .timer .counter-under:nth-child(2) { */
	/* margin: 0 30px; */
/* } */

.get-sec .timer .count {
	margin: 0 0 8px 0;
	height: 70px;
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	direction: ltr;
}

.get-sec .timer span {
	display: block;
	float: left;
	width: 45px;
	height: 67px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* background:red; */
	/* background-color: #ffc500;
	/* background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(48%, #fff), color-stop(49%, #fff), color-stop(50%, #e1af04), color-stop(51%, #ffc500), to(#ffc500)); */
	background-image: -webkit-linear-gradient(bottom, #777 0%, #ededed 48%, #fff 49%, #777 50%, #777 51%, #777 100%);
	background-image: -moz-linear-gradient(bottom, #fff 0%, #fff 48%, #fff 49%, #777 50%, #777 51%, #777 100%);
	background-image: -o-linear-gradient(bottom, #fff 0%, #fff 48%, #fff 49%, #777 50%, #777 51%, #777 100%);
    background-image: linear-gradient(to top, #dc3545 0%, #dc3545 48%, #dc3545 49%, #dc3545 50%, #dc3545 51%, #dc3545 100%);
	-webkit-box-shadow: 0 3px 0 #fff;
	-moz-box-shadow: 0 3px 0 #fff;
	box-shadow: 0 3px 0 #fff;
	color: #fff;
	font-weight: 500;
	font-size: 36px;
	line-height: 59px;
}
.btn-main {
    background: #e8202b !important;
    color: #FFF;
    border: 0;
    width: 100%;
    font-size: 40px;
    border-radius: 0
}
.btn-main:hover{
    background: #9a1329;
}
.btn-main {
	width: 93%;
	font-size: 30px;

}
@media (max-width:991px) {
    .btn-main {
        width: 100%;
        font-size: 24px;
	}
}
form label {
    color: white;
    font-size: 20px;
}
@media (max-width:410px){
	.get-sec .counter-red p{
		font-size: 18px;
	}
	.get-sec .timer .text {
		font-size: 16px;
	}
.get-sec .timer span {
	display: block;
    float: left;
    width: 25px;
    height: 50px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /* background: red; */
    background-image: -webkit-linear-gradient(bottom, #777 0%, #ededed 48%, #fff 49%, #777 50%, #777 51%, #777 100%);
    background-image: -moz-linear-gradient(bottom, #fff 0%, #fff 48%, #fff 49%, #777 50%, #777 51%, #777 100%);
    background-image: -o-linear-gradient(bottom, #fff 0%, #fff 48%, #fff 49%, #777 50%, #777 51%, #777 100%);
    background-image: linear-gradient(to top, #dc3545 0%, #dc3545 48%, #dc3545 49%, #dc3545 50%, #dc3545 51%, #dc3545 100%);
    -webkit-box-shadow: 0 3px 0 #777;
    -moz-box-shadow: 0 3px 0 #777;
    box-shadow: 0 3px 0 #dc3545;
    /* font-weight: 500; */
    font-size: 24px;
	line-height: 49px;
}
}

.get-sec .timer span:first-child {
	margin: 0 10px 0 0;
}

.get-sec .timer .text {
	font-weight: 500;
	font-size: 18px;
	color: #fff;
}

.get-sec form input,
.get-sec form select {
	display: block;
	margin: 0 auto 20px auto;
	padding: 0 20px;
	width: 355px;
	height: 60px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background: #fff;
	font-family: 'DINRoundPro', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #222;
	text-align: center;
}

.get-sec form button {
	font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
	cursor: pointer;
}

.button {
	display: block;
	margin: 0 auto;
	width: 355px;
	height: 95px;
	background: #f33668;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 5px 0 #c92d56;
	-moz-box-shadow: 0 5px 0 #c92d56;
	box-shadow: 0 5px 0 #c92d56;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	font-weight: 500;
	font-size: 28px;
	line-height: 95px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1.5px;
	font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
}


.countdown {
	width: 720px;
	margin: 0 auto;
  }
  .countdown .bloc-time {
	float: left;
	margin-right: 45px;
	text-align: center;
  }
  .countdown .bloc-time:last-child {
	margin-right: 0;
  }
  .countdown .count-title {
	display: block;
	margin-bottom: 15px;
	font: normal 0.94em "Lato";
	color: #1a1a1a;
	text-transform: uppercase;
  }
  .countdown .figure {
	position: relative;
	float: left;
	height: 110px;
	width: 100px;
	margin-right: 10px;
	background-color: #fff;
	border-radius: 8px;
	-moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
	-webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  }
  .countdown .figure:last-child {
	margin-right: 0;
  }
  .countdown .figure > span {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	font: normal 5.94em/107px "Lato";
	font-weight: 700;
	color: #de4848;
  }
  .countdown .figure .top:after, .countdown .figure .bottom-back:after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .countdown .figure .top {
	z-index: 3;
	background-color: #f7f7f7;
	transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-moz-transform: perspective(200px);
	-ms-transform: perspective(200px);
	-webkit-transform: perspective(200px);
	transform: perspective(200px);
  }
  .countdown .figure .bottom {
	z-index: 1;
  }
  .countdown .figure .bottom:before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: rgba(0, 0, 0, 0.02);
  }
  .countdown .figure .bottom-back {
	z-index: 2;
	top: 0;
	height: 50%;
	overflow: hidden;
	background-color: #f7f7f7;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
  }
  .countdown .figure .bottom-back span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
  }
  .countdown .figure .top, .countdown .figure .top-back {
	height: 50%;
	overflow: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  .countdown .figure .top-back {
	z-index: 4;
	bottom: 0;
	background-color: #fff;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-moz-transform: perspective(200px) rotateX(180deg);
	-ms-transform: perspective(200px) rotateX(180deg);
	-webkit-transform: perspective(200px) rotateX(180deg);
	transform: perspective(200px) rotateX(180deg);
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
  }
  .countdown .figure .top-back span {
	position: absolute;
	top: -100%;
	left: 0;
	right: 0;
	margin: auto;
  }
  
